.card {
  margin: 25px -2%;
  min-width: 330px;
}

.card-deck {
  margin: 0 8%;
}

.card-title {
  color: #000000;
  margin-right: 8px;
}

.cover-art {
  width: auto;
  height: 90px;
  border-radius: 5px;
}

.song-info {
  margin-left: 18px;
  padding: 18px 0;
}
